obj/Debug/net8.0/*.*.*
ShoppingProducts.API/bin/**/*.*
ShoppingProducts.API/obj/**/*.*
ShoppingProducts.Tests/bin/**/*.*
ShoppingProducts.Tests/obj/**/*.*
ShoppingProducts.Tests/TestingResults/
ShoppingProducts.Tests/TestResults/*/*.*.*
obj/Debug/net8.0/ShoppingProducts.AssemblyInfoInputs.cache
ShoppingProducts.API/Migrations/*.*
