obj/ShoppingProducts.csproj.nuget.dgspec.json
obj/ShoppingProducts.csproj.nuget.g.props
obj/ShoppingProducts.csproj.nuget.g.targets
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/ShoppingProducts.AssemblyInfo.cs
obj/Debug/net8.0/ShoppingProducts.AssemblyInfoInputs.cache
obj/Debug/net8.0/ShoppingProducts.assets.cache
obj/Debug/net8.0/ShoppingProducts.csproj.AssemblyReference.cache
obj/Debug/net8.0/ShoppingProducts.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/ShoppingProducts.GlobalUsings.g.cs
obj/project.assets.json
obj/project.nuget.cache
